body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
}

button {
  border-radius: 8px;
  background-color: #cecece;
  transition: .5s;
  padding: 10px;
  font-size: 18px;
}

button:hover {
  background-color: #a09797;
  cursor: pointer;
}